/*** MENU ***/
.white a {
    color: #fff !important;
}

.white a:hover {
    color: #E2E8F0 !important;
}


/*** HERO SECTION ***/

.hero-contact {
    background-position-y: bottom;
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-contact .hero-img {
    height: 45rem;
    width: 100%;
    background-image: url('/assets/static/02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
}

.hero-text {
    font-size: 8rem;
    color: #fff;
    text-align: center;
    padding-top: 13rem;
    position: relative;

}

.hero-img p {
    text-align: center;
    font-size: 1.8rem;
    color: #fff;
    position: relative;
    z-index: 7;
}

/* FOOTER */

.footer {
    padding: 5rem;
    max-width: 145rem;
    margin: 0 auto;
}

.flex-content {
    
    font-size: 1.3rem;
    max-width: 100%;
    margin: 7rem auto;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.text-left {
    width: 65rem;
    font-size: 1.3rem;
    text-align: justify;
}

.text-left p {
    margin-top: 3rem;
}

.contact p:first-of-type {
    margin-top: 3rem;
}

h2 {
    font-size: 2rem;
    opacity: .93;
}

.border {
    height: 3px;
    width: 5rem;
    background-color: #2653e3;
    margin-left: auto;
    margin-top: 0.5rem;
}

.text-left .border {
    margin-left: 0;
}

.contact,
.address,
.email {
    margin-left: 5rem;
    text-align: right;
}

.icons {
    display: flex;
    float: right;
    margin-top: 4rem;
}

.icons .gg-facebook,
.icons .gg-instagram  {
    font-size: 2rem;
    margin-left: 1rem;
}

.icons p {
    font-weight: bolder;
}



.copyright {
    max-width: 100%;
    margin: 0 auto;
}

.copyright hr {
    height: 1px;
    background-color: #b0b3c1;
    border: none;
}

.copyright p {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 4rem;
    display: inline-block;
    opacity: .93;
}

/* .sticky {
    background-color: transparent;
} */


@media screen and (max-width: 768px) {
    .hero-img p {
        width: 75%;
        margin: 0 auto;
    }

    .hero-text {
        font-size: 6.5rem;
    }

    .copyright {
        width: 100%;
    }

    .footer {
        padding: 4rem;
    }

    .flex-content {
        width: 100%;
        flex-wrap: wrap;
        margin: 0 auto;

    }

    .text-left {
        text-align: center;
        margin-top: 4rem;
    }

    .text-left .border {
        margin: 1rem auto
    }

    .footer-container {
        margin: 5rem auto;
        text-align: center;
    }

    .border {
        margin: 1rem auto;
    }

    .contact,
    .email,
    .address {
        text-align: center;
        margin-left: 0;
    }

    .sticky {
        background-color: #777371;
    }

}

@media screen and (max-width: 600px) {
    .hero-text {
        font-size: 5rem;
        padding-top: 16rem;
    }

    .hero-img p {
        width: 75%;
        margin: 0 auto;
        font-size: 1.6rem;
    }

    .grid-image:hover .grid-overlay {
        margin: 0rem;
    }
}