---
layout: default
---

{# <div class="footer">

    <div class="flex-content">

            <div class="text-left">
                <h2>Starten Wir Ein Neues Projekt</h2>
                <div class="border"></div>
                <p>
                    Wir bieten ein vertieftes Wissen in der Architekturtheorie und
                    unterstützen Sie bei der Umwandlung Ihrer architektonischen Vision im
                    fotorealistischen Rendering. Für Ihr Projekt setzen wir die Akzente
                    der charakteristischen Formen und realisieren eine realitätsnahe
                    Visualisierung, die auf jeden Fall durch die Qualität einen positiven
                    Eindruck bei den Betrachtern hinterlässt.
                </p>
            </div>
            
            <div class="footer-container">

                <div class="contact">
                    <h2>In kontakt kommen</h2>
                    <div class="border"></div>
                    <p>Blerim Rustemi</p>
                    <p><a href="tel:+41788055032">+41788055032</a></p>
                </div>

                <div class="address">
                    <p><a href="mailto: blerimrustemi04@yahoo.com">blerimrustemi04@yahoo.com</a></p>
                </div>

                <div class="email">
                    <p>Oberes Hohmoos 3, 051 Zurich</p>
                </div>
                
            </div>
        </div>

    <div class="copyright">
        <hr>
        <p>MD82 &copy; All Rights Reserved</p>

        <div class="icons">
            <a href="https://www.instagram.com/realism.ch/?hl=en"><i class="gg-instagram"></i></a>
            <a href="https://www.facebook.com/ParametricDeform/"><i class="gg-facebook"></i></a>
        </div>
    </div>
</div> #}