---
layout: default
---

<div style="margin-top: 6.5rem; padding-bottom: 5rem">

{% for item in portfolio.items %}

    {% if loop.index % 2 == 0 %}

<div class="container ">

    <div class="box-img">

        <div class="img-content">
            <p>{{ item.main.description }}</p>
        </div>

        <div class="grid-overlay"></div>
        {% Image item.main.url, "portfolio image", {sm: 600, lg: 700, xl: 1920} %}
    </div>

    {% for img in item.right %}
    <div class="box-img">

        <div class="img-content small">
            <p>{{ img.description }}</p>
        </div>

        <div class="grid-overlay"></div>
        {% Image img.url, "portfolio image", {sm: 600, lg: 700, xl: 1200} %}
    </div>
    {% endfor %}
    
</div>

{% else %}

<div class="container flip">

    <div class="box-img">
        <div class="img-content">
            <p>{{ item.main.description }}</p>
        </div>

        <div class="grid-overlay"></div>
        {% Image item.main.url, "portfolio image", {sm: 600, lg: 700, xl: 1920} %}
    </div>
     {% for img in item.right %}
    <div class="box-img">
        <div class="img-content small">
            <p>{{ img.description }}</p>
        </div>

        <div class="grid-overlay"></div>
         {% Image img.url, "portfolio image", {sm: 600, lg: 700, xl: 1200} %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% endfor %}

</div>

<div class="copyright home">
    <hr>
    <p>MD82 &copy; All Rights Reserved 2020</p>

    <div class="icons homepage">
        <a href="https://www.instagram.com/realism.ch/?hl=en"><i class="gg-instagram"></i></a>
        <a href="https://www.facebook.com/ParametricDeform/"><i class="gg-facebook"></i></a>
    </div>
</div>