    <div>
        <nav id="menu-wrapper" class="nav-2">
            <input type="checkbox" id="nav-toggle" />
            <div {% if page.url === '/contact/' %} class="logo white" {% else %} class="logo" {% endif %}>
                <a href="/">
                    MD<strong>82</strong>
                </a>
            </div>
            <ul {% if page.url === '/contact/' %} class="links white" {% else %} class="links" {% endif %}>
                {% for menu in site.menu %}
                <li>
                    <a href="{{ menu.url }}" class="menu-items">{{ menu.label }}</a>
                </li>
                {% endfor %}
            </ul>
            <label for="nav-toggle" class="icon-burger burger-home">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
        {% if page.url === "/contact/" %}
        <header class="hero-contact">
            
            <div class="hero-overlay"></div>
            <div class="hero-img">


    <div class="footer">


<hr>
<div class="copyright">
            
            <p>MD82 &copy; 2020 All Rights Reserved </p>

            <div class="icons">
                <a href="https://www.instagram.com/md82.ch/">
                    <i class="fab fa-instagram"></i>
                </a>
                
                <a href="https://www.facebook.com/md82.ch">
                <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
        
    </div>
    
</div>


        </header>
        {% endif %}
    </div>