    <div>
        <nav id="menu-wrapper" class="nav-2">
            <input type="checkbox" id="nav-toggle" />
            <div {% if page.url === '/contact/' %} class="logo white" {% else %} class="logo" {% endif %}>
                <a href="/">
                    MD<strong>82</strong>
                </a>
            </div>
            <ul {% if page.url === '/contact/' %} class="links white" {% else %} class="links" {% endif %}>
                {% for menu in site.menu %}
                <li>
                    <a href="{{ menu.url }}" class="menu-items">{{ menu.label }}</a>
                </li>
                {% endfor %}
            </ul>
            <label for="nav-toggle" class="icon-burger burger-home">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </label>
        </nav>
        {% if page.url === "/contact/" %}
        <header class="hero-contact">
            
            <div class="hero-overlay"></div>
            <div class="hero-img">


    <div class="footer">

        <div class="flex-content">

            <div class="text-left">
                <h2>Starten Wir Ein Neues Projekt</h2>
                <div class="border"></div>
                <p>
                    Wir bieten ein vertieftes Wissen in der Architekturtheorie und
                    unterstützen Sie bei der Umwandlung Ihrer architektonischen Vision im
                    fotorealistischen Rendering. Für Ihr Projekt setzen wir die Akzente
                    der charakteristischen Formen und realisieren eine realitätsnahe
                    Visualisierung, die auf jeden Fall durch die Qualität einen positiven
                    Eindruck bei den Betrachtern hinterlässt.
                </p>
            </div>
            
            <div class="footer-container">

                <div class="contact">
                    <h2>In kontakt kommen</h2>
                    <div class="border"></div>
                    <p>Blerim Rustemi</p>
                    <p><a href="tel:+41788055032">+41788055032</a></p>
                </div>

                <div class="address">
                    <a href="mailto: blerimrustemi04@yahoo.com">blerimrustemi04@yahoo.com</a>
                </div>

                <div class="email">
                    <p>Oberes Hohmoos 3, 8051 Zurich</p>
                </div>
                
            </div>
        </div>

<hr>
<div class="copyright">
            
            <p>MD82 &copy; 2020 All Rights Reserved </p>

            <div class="icons">
                <a href="https://www.instagram.com/realism.ch/?hl=en">
                    <i class="fab fa-instagram"></i>
                </a>
                
                <a href="https://www.facebook.com/ParametricDeform/">
                <i class="fab fa-facebook"></i>
                </a>
            </div>
        </div>
        
    </div>
    
</div>


        </header>
        {% endif %}
    </div>